[Unit]
Description=Arctis Manager

Requisite=dev-steelseries-arctis.device
After=dev-steelseries-arctis.device

StartLimitIntervalSec=1m
StartLimitBurst=5

[Service]
Type=exec
ExecStart=arctis-manager
Restart=on-failure
RestartSec=1

[Install]
WantedBy=dev-steelseries-arctis.device
WantedBy=graphical-session.target
Requisite=graphical-session.target
After=graphical-session.target
